
   
    
body{
    font-family: 'Roboto', sans-serif;
}
.nav-link{
    font-size: x-small;
    color: rgb(219, 212, 212);
}
.nav{
    margin-left: 5rem !important;
    
}
.f10{
    font-size :small;
}
.f12{
    font-size :0.7em;
}
.f131{
    font-size: 0.69rem;
    color: rgb(235, 229, 229);
}
.f13{
    font-size: 0.66rem;
    color: rgb(216, 212, 212);
}
.borders{
  border-collapse: collapse;
  border : 2px solid lightgrey;
  margin : 0.3rem; 
  
}

.years{
    color: rgb(151, 144, 144);
    font-size: smaller;
}
.btnfont{
   color: rgba(247, 236, 236, 0.932);
}
.orange{
    background-color: rgb(243, 124, 45);
    
}
#btn1{
    background-color: rgb(197, 193, 187);
}
#btn2{
    width: 8rem;
}
#btn3{
    width: 8rem;
}

#graytxt{
    color: rgba(201, 197, 197, 0.932);
}
#quote{
   color: rgb(216, 203, 202); 
}
.grayfoot{
    color: rgb(136, 131, 131);
}
a{
    text-decoration: none;
    color :royalblue
}